{% extends 'base.html.twig' %}

{% block title %}A.C.L Bréalaise - Connexion{% endblock %}

{% block body %}

      <div class="container">
        <h1 class="TextType center">Connexion</h1>
        <form action="{{ path ('security_connexion') }}" method="post">
          <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <input id="email" type="email" class="validate" required name="_username">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">locked</i>
          <input id="password" type="password" class="validate" required name="_password">
          <label for="password">Mot de passe</label>
        </div>
      </div>
          <div class="input-field col s12">
            <button class="btn waves-effect waves-light light-blue darken-4"
            type="submit" name="action">Connexion
                <i class="material-icons right">check</i>
              </button>
          </div>
        </form>
      </div>


{% endblock %}
