{% extends 'base.html.twig' %}

{% block body %}

<title>ACL Bréalaise - X-Trial</title>
<div class="col s12 m8 offset-m2 l6 offset-l3">
       <div class="card-panel">
         <div class="row valign-wrapper">
           <div class="col s10">
             <span class="black-text">
               Ici une déscription de la ligue !
             </span>
           </div>
           <div class="col s2">
             <a href="https://www.x-trial.com/" target="_blank">
               <img src="https://zupimages.net/up/19/06/6ukq.png" class="responsive-img"/></a>
           </div>
         </div>
       </div>
     </div>

    <div class="row">
      <div class="col s7 push-s5">
      <img class="materialboxed" width="650" src="https://i.postimg.cc/SRSvHXQX/PLAQUETTE-EXTERIEUR-XTRIAL-2019.jpg">
      </div>
      <div class="col s5 pull-s7"><span class="flow-text">5-columns wide pulled to the left by 7-columns.</span></div>
    </div>
    <div class="row">
      <div class="col s7 push-s5">
      <img class="materialboxed" width="650" src="https://i.postimg.cc/TwqskjxM/PLAQUETTE-INTERIEUR-XTRIAL-019.jpg">
      </div>
      <div class="col s5 pull-s7"><span class="flow-text">5-columns wide pulled to the left by 7-columns.</span></div>
    </div>

    <script>
      $(document).ready(function(){
    $('.materialboxed').materialbox();
  });
    </script>

{% endblock %}
