{% extends 'base.html.twig' %}


{% block body %}

<title>ACL Bréalaise - Tableau de bord</title>

        <div class="row">
        
      <div class="col s12 m4 13">
        <!-- Grey navigation panel -->
        <img class="responsive-img" src="https://i.postimg.cc/q6nxMZPx/7789283353-dafy-moto.png">
        <br>
        <a class="waves-effect waves-light" href="{{ path ('article_new') }}"><i class="material-icons left">cloud</i>Créer un article</a>
        <li>
        <a class="waves-effect waves-light" href="{{ path ('article_new') }}"><i class="material-icons left">cloud</i>Créer un partenaire</a>

      </div>
      <div class="col s12 m8 19">
        <!-- Teal page content  -->
        <p>Ceci est la navigation sur la droite</p>
      </div>
    </div>

{% endblock %}
