{% block body %}

<title>ACL Bréalaise - Tableau de bord</title>

<!-- Page Layout here -->
    <div class="row">

      <div class="col s3">
        <!-- Grey navigation panel -->
        <br>
        <div class="container">
          <img class="responsive-img" src="https://zupimages.net/up/19/04/y9vc.png" width="350">
        </div>
        <div class="divider"></div>

        <a class="btn-flat" href="{{ path ('article_new') }}">Créer un article</a>
        <br>
        <a class="btn-flat" href="{{ path ('partenaire_new') }}">Créer un partenaire</a>

      </div>

      <div class="col s9">
        <!-- Teal page content  -->
        <div class="container">
        <h1>Tableau de bord administrateur</h1>
        </div>
      </div>

    </div>

{% endblock %}
