{% extends 'base.html.twig' %}

{% block body %}

<title>ACL Bréalaise - Championnat d'Europe</title>
<div class="col s12 m8 offset-m2 l6 offset-l3">
       <div class="card-panel">
         <div class="row valign-wrapper">
           <div class="col s10">
             <span class="black-text">
               Ici une déscription de la ligue !
             </span>
           </div>
           <div class="col s2">
             <a href="http://www.fim-europe.com/" target="_blank">
               <img src="https://zupimages.net/up/19/05/t4ic.png" class="responsive-img"/></a>
           </div>
         </div>
       </div>
     </div>

{% endblock %}
