{% extends 'base.html.twig' %}

{% block body %}

    <title>ACL Bréalaise - Nos partenaires</title>
    <h1 class="text center">Nos partenaires</h1>
<br>

    <div class="container">
        <div class="row">
            {% for Partenaires in partenaire %}
                <div class="col s3">
                    <div class="card small">
                        <div class="card-image">
                            <img class="responsive-img" src="/uploads/{{ Partenaires.image }}">
                        </div>
                        <div class="card-action">
                            <a href="#">{{Partenaires.nom}}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>


{% endblock %}

