{% extends 'base.html.twig' %}

{% block body %}

<title>ACL Bréalaise - Ecole</title>
        <div class="parallax-container">
      <div class="parallax"><img src="https://i.postimg.cc/1XhQ9NDJ/DSC-9536.jpg"></div>
    </div>
    <div class="section white">
      <div class="row container">
            <div class="row">

      <div class="col s4">
        <!-- Promo Content 1 goes here -->
        <div class="center promo promo-example">
        <i class="material-icons">filter_1</i>
        <h3 class="promo-caption">Ecole</h3>
        <blockquote>
        L’école labellisée EFM, créée en 2002, 
        son but étant de promouvoir le Trial auprès des jeunes de la région, 
        et de les accompagner vers la compétition.
        </blockquote>
        </div>
      </div>
      <div class="col s4">
        <!-- Promo Content 2 goes here -->
          <div class="center promo promo-example">
        <i class="material-icons">filter_2</i>
        <h3 class="promo-caption">Cours</h3>
        <blockquote>
        Ses heures d’ouverture pour les cours sont de 14h00 à 16h00 le mercredi, et de 10h00 à 12h00 le samedi.
        </blockquote>
        </div>
      </div>
      <div class="col s4">
        <!-- Promo Content 3 goes here -->
                <div class="center promo promo-example">
        <i class="material-icons">filter_3</i>
        <h3 class="promo-caption">Stages</h3>
        <blockquote>
        Des stages sont organisés lors des vacances scolaires un planning est disponible sur la page école.
        Des stages adultes sont proposés tout au long de l’année.
        </blockquote>
        </div>
      </div>

    </div>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="https://i.postimg.cc/BZPL1hJV/36451501-822852411257244-5959026888499265536-n.jpg"></div>
    </div>
    <div class="divider"></div>
        <div class="container">
        <!-- Page Content goes here -->
            <div class="row">
      <div class="col s12">
      <h1 class="text center">L'actualité de l'école</h1>
      </div>
      <div class="col s6">
      </div>
    </div>
      </div>

    <script>
      $(document).ready(function(){
    $('.parallax').parallax();
  });
    </script>

    <link href="{{ asset('build/css/ecole.css') }}" type="text/css" rel="stylesheet" />


{% endblock %}
