{% extends 'base.html.twig' %}

{% block body %}

<title>ACL Bréalaise - Ecole</title>
<br>
      <div class="container">
        <!-- Page Content goes here -->      
    <div class="row">
      <div class="col s7 push-s5">
        <div class="row">
      <div class="card grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">L'école</span>
          <p>L’école labellisée EFM, créée en 2002, son but étant de promouvoir le Trial auprès des jeunes de la région, 
          et de les accompagnés vers la compétition.</p>
        </div>
      </div>
  </div>
      </div>
      <br>
      <div class="col s5 pull-s7">
          <img class="responsive-img" src="https://i.postimg.cc/1XhQ9NDJ/DSC-9536.jpg">
      </div>
    </div>
    <div class="divider"></div>
    <br>
    <!-- séparation des deux  -->
        <div class="row">
            <div class="col s7 push-s5">
                <img class="responsive-img" src="https://i.postimg.cc/3RDh5Z0k/DSC-9566.jpg" width="550">
            </div>
            <div class="col s5 pull-s7">
              <div class="row">
                    <div class="card light-blue darken-4">
                        <div class="card-content white-text">
                            <span class="card-title">Cours & Stages</span>
                            <p>Ses heures d’ouverture pour les cours sont de 14h00 à 16h00 le mercredi, et de 10h00 à 12h00 le samedi.
Des stages sont organisés lors des vacances scolaires un planning est disponible sur la page école.
Des stages adultes sont proposés tout au long de l’année.
</p>
                        </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="divider"></div>
        <div class="container">
        <!-- Page Content goes here -->
            <div class="row">
      <div class="col s12">
      <h1 class="text center">L'atualité de l'école</h1>
      </div>
      <div class="col s6">6-columns (one-half)</div>
      <div class="col s6">6-columns (one-half)</div>
    </div>
      </div>
</div>

{% endblock %}
