{% extends 'base.html.twig' %}

{% block body %}

<title>Création d'un article</title>

<h1 class="text center">Créer un article</h1>
<div class="container">
    <div class="row">
        <div class="col s12">
        {{form_start(form)}}
        {{form_widget(form)}}
            <button class="btn waves-effect waves-light light-blue darken-4" type="submit" name="action">Créer l'article
            <i class="material-icons right">send</i></button>
        {{form_end(form)}}
        </div>
    </div>
</div>
<script>
  $(document).ready(function(){
    $('select').formSelect();
  });
</script>

{% endblock %}
